


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'banner.jpg' %>)">

  <div class="container">
    <h1>Get Assistance from Le Wagon’s Teachers!</h1>
    <p>Rent a TA and get your challenges done easier</p>

    <%= link_to "Book Now", teachers_path, class: "btn btn-ghost" %>
    <%# <button type="button" class="btn btn-outline-primary"><%= link_to "Sign Up",  new_user_registration_path %>
  </div>
</div>


<div class="footer">
  <div class="footer-links ml-2">
    <a href="http://www.youtube.com/watch_popup?v=XTnBydG_jY">ABOUT US</a>
    <a href="https://www.cats.org.uk/support-us">DONATE</a>
    <a href="https://linktr.ee/gyota">employ us please</a>
    <a href="https://github.com/AranSeehra/gyota"><i class="fab fa-github lg"></i></a>
    <a href="https://www.instagram.com/jobless.wifeyy/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/GetMeAJob"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/NeedJobTodayOff"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/pulse/i-am-bored-need-job-immediately-armando-malasan/"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
