


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'banner.jpg' %>)">

  <div class="container">
    <h1>Get Assistance from Le Wagon’s Teachers!</h1>
    <p>Rent a TA and get your challenges done easier</p>

    <%= link_to "Book Now", teachers_path, class: "btn btn-ghost" %>
    <%# <button type="button" class="btn btn-outline-primary"><%= link_to "Sign Up",  new_user_registration_path %>
  </div>
</div>
<div class="" style= "background-color: #FFFFFF;margin-top:0;">
    <h2 class="code" style="padding:24px 0;margin-top:0;" ><strong>Programming languages you can learn</strong></h2>
    <div class="icon-container" style= "border-bottom: solid 0.1px; color: #8E8F8F; background-color: #FFFFFF;">
      <a class="link github">
        <i class="fab fa-2x fa-github"></i>
        <p> Github </p>
      </a>

      <a class="link html5">
        <i class="fa-brands fa-2x fa-html5"></i>
        <p> HTML </p>
      </a>

      <a class="link code">
        <i class="fa-solid fa-2x fa-code"></i>
        <p> Terminal </p>
      </a>

      <a class="link gem">
        <i class="fa-regular fa-2x fa-gem"></i>
        <p> Ruby </p>
      </a>

      <a class="link python">
        <i class="fa-brands fa-2x fa-python"></i>
        <p> Python </p>
      </a>
    </div>


    <div class= "challenges-container">
      <a class= "viewport d-flex justify-content-around" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
         <div class="card" style=" box-shadow: none; width: 300px;border:none;justify-content:center;">
            <div class="slide slide1">
                <div class="content">
                    <div class="icon">
                      <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fcdn.tech.eu%2Fuploads%2F2022%2F06%2Funtitled-design-88-13.png" alt="" style= "width: 300px; height: 200px; object-fit: cover;">
                    </div>
                </div>
            </div>
            <div class="slide slide2">
                <div class="content">
                    <h3>
                        Alumni
                    </h3>
                    <p>More than 18.376 people changed their lives. Join us!</p>
                </div>
            </div>
        </div>
        <div class="card" style="box-shadow: none; width: 300px;border:none;justify-content:center;">
            <div class="slide slide1">
                <div class="content">
                    <div class="icon">
                      <img src="https://res.cloudinary.com/wagon/image/upload/v1662043712/uhivjtinwdnla3rljuz9.jpg" alt="" style= "width: 300px; height: 200px; object-fit: cover;">
                    </div>
                </div>
            </div>
            <div class="slide slide2">
                <div class="content">
                    <h3>
                        Challenges
                    </h3>
                    <p>Get help for your challenges and projects.</p>
                </div>
            </div>
        </div>
        <div class="card" style="box-shadow: none; width: 300px;border:none;justify-content:center;">
            <div class="slide slide1">
                <div class="content">
                    <div class="icon">
                      <img src="https://res.cloudinary.com/wagon/image/upload/v1/cache/a11578167d8ff54eb56d43f06c28fd94.jpg" alt="" style= "width: 300px; height: 200px; object-fit: cover;">
                    </div>
                </div>
            </div>
            <div class="slide slide2">
                <div class="content">
                    <h3>
                        The best TA's
                    </h3>
                    <p>Only the best teachers.</p>
                </div>
            </div>
        </div>
    </div>
      </a>
    </div>
</div>
