


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'banner.jpg' %>)">

  <div class="container">
    <h1>Get Assistance from Le Wagon’s Teachers!</h1>
    <p>Rent a TA and get your challenges done easier</p>

    <%= link_to "Book Now", teachers_path, class: "btn btn-ghost" %>
    <%# <button type="button" class="btn btn-outline-primary"><%= link_to "Sign Up",  new_user_registration_path %>
  </div>
</div>
