<h1 class="mx-auto text-center mt-4 mb-3"> Meet our TA's </h1>
<ul>

    <% @teachers.each do |teacher|%>
  <div class="container">
    <div class="card-group">
    <li class="navbar-nav me-2">
      <div class="card mb-3 shadow p-3  mb-5 bg-body rounded" style="max-width: 540px;">
          <div class="row">
          <%# <div class="card-img-top"> <%= cl_image_tag(list.photo.key, width: 286, height: 300, crop: :fill)</div> %>
            <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="..."></div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"> <strong><%= link_to "#{teacher.first_name} #{teacher.last_name}", teacher_path(teacher)  %></strong></h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated <%= rand(0..5) %> mins ago</small></p>
              </div>
    <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


    </li>
</ul>

<%# <p style="text-align: center;"><%= link_to raw('<i class="fa-solid fa-plus fa-lg"></i> List'), new_teacher_booking_path %> </p>
