a {
  color: #ABC4FF;
  opacity: .7;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
}

.button-show {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 20px;
}

a:hover {

  opacity: 1;
  text-decoration: none;
  }

  .btn-outline-primary {
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  }

  .btn-flat {
    color: #EDF2FB;
    padding: 8px 24px;
    border-radius: 4px;
    background: #ABC4FF;
    transition: background 0.3s ease;
  }

  .btn-flat:hover {
    background: #ABC4FF;
    color: #EDF2FB;
  }

  .btn-ghost {
    color: #EDF2FB;
    border: 1px solid #EDF2FB;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }

  .btn-ghost:hover {
    opacity: 1;
    color: #ABC4FF;
    border: 1px solid #ABC4FF;
    font-weight: bold;
    }

  .nav-link {
    color: #899fd0;
  }

  .btn-primary {
    background-color: #EDF2FB;
    stroke: #ABC4FF;
    color: #ABC4FF;
    border-color: #ABC4FF;
  }
  .btn-primary:hover {
    background-color: #ABC4FF;
    stroke: #ABC4FF;
    border-color: #ABC4FF;
  }
  .btn-outline-primary {
    color:#EDF2FB ;
  }
