.footer {
  position: fixed;
  background: #EDF2FB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  color: #ABC4FF;
}


.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #ABC4FF;
  opacity: 0.3;
  text-decoration: none;
  font-size: 17px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

a:hover {
  text-decoration: none;
  color: #ABC4FF;
  }
