.footer {
  background: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(12, 20, 122);
  opacity: 0.3;
  text-decoration: none;
  font-size: 17px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

a:hover {
  text-decoration: none;
  color: rgb(102, 102, 102);
  }
