.navbar-lewagon {
  justify-content: center;
  background: #E2EAFC;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.gyota a {
  font-family:'Permanent Marker';
  font-size: 35px;
  color: #ABC4FF;
}


.roboto {
  font-family: Roboto, sans-serif;
}

.navbar-nav li {
margin-left: 16px;
color: #ABC4FF;
}
